#Directories
./vs
bin/
bin-int/

#Files
.user
.vs/GenixGame/v16/Browse.VC.db

.vs/GenixGame/v16/Browse.VC.opendb

.vs/GenixGame/v16/ipch/AutoPCH/2f3edbdf543c8505/SOURCE.ipch

.vs/GenixGame/v16/ipch/AutoPCH/cb55aef241b1a9a/APPLICATION.ipch

.vs/GenixGame/v16/ipch/AutoPCH/faaf383aa2114ac5/SANDBOX.ipch

.vs/GenixGame/v16/ipch/AutoPCH/fdde090ba3579fe8/GENIX.ipch

.vs/GenixGame/v16/ipch/AutoPCH/ffe5bc1c7e09424d/APPLICATION.ipch

.vs/GenixGame/v16/Solution.VC.db

.vs/GenixGame/v16/Solution.VC.db-shm

.vs/GenixGame/v16/Solution.VC.db-wal

.vs/GenixGame/v16/ipch/AutoPCH/9b1696dbb5f5691d/APPLICATION.ipch

.vs/GenixGame/v16/ipch/AutoPCH/9e19b01fa7e583db/LOG.ipch

.vs/GenixGame/v16/ipch/AutoPCH/9e23eeb3246b9738/GENIX.ipch

.vs/GenixGame/v16/ipch/AutoPCH/fad3b7ebfeb5da78/LOG.ipch
